@media screen and (max-width: 1199px) {

    .bar-chart {
        p {
            font-size: 14px !important;
        }
    }

    .btn a {
        font-size: 12px;
    }

    .nav-item {
        .font-para {
            font-size: 14px !important;
        }
    }

    .nav-link-space {
        .font-para {
            font-size: 14px !important;
        }
    }

    // .css-1fzpoyk {
    //     width: 60% !important;
    // }
}

@media screen and (max-width: 991px) {


    .navbar-collapse {
        // background: rgb(52, 52, 55) !important;
        background: $fourth-color !important;
        position: absolute;
        width: calc(100% - 1.4rem);
        height: auto !important;
        left: 0;
        top: 0;
        margin: 0.7rem;
        margin-left: 0.7rem;
        // background: #1f2251;
        border-radius: 0.2857rem;
        padding: 1.4rem;
    }

    .bg-community-box {
        background: linear-gradient(to right, rgb(71, 43, 43), rgb(82, 27, 27));
        border-radius: 19.3145px;
        border: 1px solid #FF0000;
        min-height: 200px;
        max-height: 200px;
    }

    section {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .bg-color-banner {
        background: URL('../img/E-commerce/banner-bg-7.png');
        background-color: white !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .position-rel4 {
        position: static !important;
    }

    .position-rel2 {
        position: static !important;
    }

    .css-1qzevvg {
        left: 0px !important;
        right: 0px !important;
        bottom: 160px !important;
    }

    // .css-1fzpoyk {
    //     width: 70% !important;
    // }
}


@media screen and (max-width: 767px) {

    .banner-text {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 3em !important;
        font-weight: 700 !important;
        color: #f5f5f5;
        width: -moz-available;
        background: linear-gradient(93.11deg, #FF0000 1.45%, #FF0000 1.47%, #801515 234.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: $ff-bold !important;
    }

    h1 {
        font-size: 35px !important;
    }

    .drawerspec {
        width: 70% !important;
    }

    .position-rel4 {
        position: static !important;
    }

    // .css-1fzpoyk {
    //     width: 90% !important;
    // }
}

@media screen and (max-width: 568px) {

    .drawerspec {
        width: 90% !important;
    }

    .font-gradient-text {
        font-size: 20px !important;
        letter-spacing: 2px !important;
    }

    .work-head {
        font-size: 36px !important;
        letter-spacing: -1.2px !important;
        line-height: 56px !important;
    }


    h1 {
        font-size: 25px !important;
    }

    .bg-community-box {
        background: linear-gradient(to right, rgb(71, 43, 43), rgb(82, 27, 27));
        border-radius: 19.3145px;
        border: 1px solid #FF0000;
        min-height: fit-content;
        max-height: fit-content;
    }

    .testimonal-card {
        width: 100% !important;
    }

    // .css-1fzpoyk {
    //     width: 100% !important;
    // }
}

@media screen and (max-width: 412px) {
    .css-1qzevvg {
        left: 0px !important;
        right: 0px !important;
        bottom: 140px !important;
    }
}

@media screen and (max-width: 330px) {
    .css-1qzevvg {
        left: 0px !important;
        right: 0px !important;
        bottom: 120px !important;
    }
}